html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.head{
    background-color: lightblue;
    text-align: center;
    vertical-align: center;
    line-height: 35px;
}

.menu{
    background-color: darkslategray;
    color: white;
    overflow: hidden;
    line-height: 40px;
}

.menu-item{
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

.col1{
    background-color: gray;
    height: 300px;
}

.col2{
    background-color: darkgray;
    height: 300px;
}

.col3{
    background-color: darkseagreen;
    height: 300px;
}

.footer{
    background-color: green;
    height: 50px;
    text-align: center;
    line-height: 50px;
}